@model PrimeBeautyMVC.Models.Usuario

@{
    ViewData["Title"] = "Registrate y Crea tu perfil Prime";
    Layout = null;
}

<h2>Registrar Cliente</h2>

<form asp-action="Registrar" method="post" class="mt-4">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" placeholder="Nombre completo" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Apellido" class="form-label"></label>
        <input asp-for="Apellido" class="form-control" placeholder="Nombre completo" />
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" type="email" class="form-control" placeholder="ejemplo@correo.com" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Contrasena" class="form-label">Contraseña</label>
        <input asp-for="Contrasena" type="password" class="form-control" placeholder="Mínimo 6 caracteres" />
        <span asp-validation-for="Contrasena" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Telefono" class="form-label"></label>
        <input asp-for="Telefono" class="form-control" placeholder="809-000-0000" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>

    <!-- Campo oculto para tipo cliente -->
    <input type="hidden" asp-for="Tipo" value="cliente" />

    <button type="submit" class="btn btn-primary">Registrar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
