@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a PrimeBeauty</h1>
    <p>Realiza tus citas aqui <a asp-action="Index" asp-controller="Citas">Citas Prime</a>.</p>

    <div class="card text-left">
        <img class="card-img-top" src="https://img.freepik.com/premium-photo/barber-shop-image-generated-ai_644690-43639.jpg?w=2000" alt="">
      <div class="card-body">
        <h4 class="card-title">Disfruta del mejor servicio</h4>
        <p class="card-text">Ve al link de citas para reservar la tuya</p>
      </div>
    </div>
</div>
